@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.snippet-page,
.home-page {
  height: -webkit-fill-available;
  background-color: #f7fafc;
  font-family: cursive;
}

h1,
input[name="title"] {
  font-weight: 500;
  font-size: 1.5rem;
  width: 100%;
  margin-right: 1rem;
}

code,
.code {
  display: block;
  padding: 10px;
  background-color: black;
  color: #dedede;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
  overflow-x: auto;
  border-radius: 5px;
  height: 100%;
  margin: 1rem;
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
  color: white;
}
.snippet-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.snippet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  padding: 1rem;
  border-radius: 3px;
  width: 700px;
  margin: 1rem;
  background-color: white;
}

:is(.snippet-form) h1,
button {
  text-align: center;
}
.snippet-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

:is(.snippet-form) input,
textarea:not(textarea.code),
button {
  border: 1px solid #b8b8b8;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
}

.snippet-form textarea {
  resize: none;
  height: 200px;
}

.snippet-form button {
  background-color: #5c6c8d;
  font-size: 1.5rem;
}

.snippet-form button:hover,
:is(.actions-box) .save:hover, .back:hover{
  background-color: #363f51;
}
.home-page .snippet-nav button:hover {
  background-color: #4e3651;
}
.snippets-list button:hover {
  background-color: #485136;
}
.home-page .snippet-nav,
.selected-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.home-page .snippet-nav button,
.snippets-list button {
  background-color: #8b5c8d;
}
.home-page .snippet-nav button,
.snippets-list button,
.actions-box button {
  width: 10rem;
}
.snippets-list button {
  background-color: #5c8d65;
  height: 3.5rem;
  border-radius: 0px 2px 2px 0px;
  border: none;
}
.snippets-list {
  margin: 0rem 1rem;
}
.snippets-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  margin: 0.5rem 0rem;
  border-radius: 2px;
}

.snippets-list li h2 {
  padding: 1rem;
}

.home-page .around-list,
.code-display {
  height: calc(100vh - 73.3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
:is(.actions-box) .save,
.back {
  background-color: #5c7b8d;
}
.edit,
.cancel {
  background-color: #8d8c5c;
}
.delete {
  background-color: #8d5c5c;
}
:is(.edit, .cancel):hover {
  background-color: #515036;
}
.delete:hover {
  background-color: #513636;
}
